	<div class="row">
		<form action="/dares/<%=@dare.id%>/" method="post">
	  		<fieldset>
	    		<legend>Finish the Dare</legend>
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	    		<div class="row">
		      		<h4>Just put the YouTube video link down below!</h4>
	    		</div>
	    		<br>
		      	<div class="row collapse">
					<div class="small-3 large-3 columns">
					  	<span class="prefix">http://www.youtube.com/watch/?v=</span>
					</div>
					<div class="small-6 large-9 columns">
					    <input type="text" placeholder="EQMLYtRDU90" name="updateDare[url]">
					</div>
			 	</div>
			 	<!-- <input type="hidden" name="id" value="<%=@dare.id%>"> -->
			 	<input type="hidden" name="_method" value="put">
		      	<input type="submit" class="button" value="Finish the Dare!">
	  		</fieldset>
		</form>
	</div>
