	<div class="row">
		<form>
	  		<fieldset>
	    		<legend>New Dare</legend>

	    		<div class="row">
		      		<div class="large-12 columns">
			        	<label>Dare Title</label>
			        	<input type="text" placeholder="Title">
			      	</div>
	    		</div>

			    <div class="row">
		      		<div class="large-12 columns">
				        <label>Description</label>
				        <textarea placeholder="What is the dare?"></textarea>
			      	</div>
			    </div>
		      	<div class="row collapse">
					<div class="small-3 large-3 columns">
					  	<span class="prefix">http://www.youtube.com/watch/?v=</span>
					</div>
					<div class="small-6 large-9 columns">
					    <input type="text" placeholder="EQMLYtRDU90">
					</div>
			 	</div>
			    <div class="row">
			      	<div class="large-6 columns">
				        <label>Target Price</label>
				        <input type="text" placeholder="How much will you do this dare for?">
			      	</div>
		      		<div class="large-6 columns">
			          		<label>Funding duration (number of days)</label>
			            	<input type="text" placeholder="How long are you willing to wait?">
			        </div>
		      	</div>
		      	<input type="submit" class="button" value="Create the Dare!">
	  		</fieldset>
		</form>
	</div>
