
	<!-- Body content-->
	<div class="row">
	  	<div class="small-10 small-centered columns">
			<h3><%= @dare.title %></h3>
			<h4><%= @dare.user.username%></h4>
  			<div class="flex-video">
  				<iframe width="420" height="315" src="http://www.youtube.com/embed/0_EW8aNgKlA" frameborder="0" allowfullscreen></iframe>
			</div>
	  		<p><%= @dare.description %></p>
	  		<div class="progress large-6 success round"><span class="meter" style="width: 40%"></span></div>
        	<textarea placeholder="Leave a comment..."></textarea>
        	<input type="submit" class="button" value="Comment">
	  	</div>
	</div>