
	<!-- Body content-->
	<div class="row">
		<form>
	  		<fieldset class="large-4 columns">
	    		<legend>Log in</legend>
			    <div class="row">
			      	<div class="large-12 columns">
				        <label>Email</label>
				        <input type="text" placeholder="Email Address">
			          	<label>Password</label>
			           	<input type="password" placeholder="Password">
			           	<input type="submit" value="Submit" class="button">
			        </div>
		      	</div>
	  		</fieldset>
		</form>
		<form>
	  		<fieldset class="large-4 large-offset-1 columns">
	    		<legend>Sign up</legend>
	    		<div class="row">
		    		<div class="large-12 columns">
			          	<label>Email Address</label>
			            <input type="text" placeholder="Email Address">
			          	<label>Username</label>
			            <input type="text" placeholder="Username">
			          	<label>Password</label>
			            <input type="password" placeholder="Password">
			          	<label>Password</label>
			            <input type="password" placeholder="Password Confirmation">
			            <input type="submit" value="Submit" class="button">
				    </div>
				</div>
	  		</fieldset>
		</form>
	</div>