<div class="row">
		<h1>Living an Exciting Life</h1>
		<p>The goal of this site is to reward people for taking risks.</p>
		<ul id="to-do">
			<li>Create a dare: This can be anything from drinking a bottle of hotsauce to going bungee jumping.</li>
			<li>Upload a video:  This is just a video explaining what the dare is and why you are doing it.</li>
			<li>Set the price:  How much would it cost for you to do the dare?</li>
			<li>Set the fundraising duration: The number of days for funders to back you</li>
			<li>Complete the dare:  Once the target price has been met it's time for you to face the music.  You must do the dare, upload a video to YouTube, and share it.</li>
			<li>Get Paid!:  Your proof video will be reviewed and once it can be verified as done the funds will be sent to you.</li>
		</ul>
		<br>
		<br>
		<p><%= image_tag("whitecastle.jpg", :alt => "White Castle") %>My name is <a href="https://twitter.com/IsoHaze">Kris Hamoud</a> and this is a picture of me eating 30 White Castle sliders. Now that I have that out of the way, this site is all about rewarding people for doing exciting (and potentially stupid) things.  I believe that life is more fun when you are taking risks and doing dumb things.  That is the whole reason why I made this site.  I am a Computer Science major which means my life is normally pretty dull, however, I found the best way to combat the drudgery was by doing fun and out of the ordinary feats of strength.  A lot of people are afraid of doing or trying new things so I though a good way to motivate them would be through money.</p>
		


	</div>
