
h1{
    text-align:center;
}
h2{
    text-align: center;
}
h3{
    text-align:center;
}

h4{
    text-align:center;
}
h5{
    text-align:center;
}
h6{
    text-align:center
}
img{
    float:left;
    margin-right:15px;
}
#to-do li{
    margin-left:40px;
}
.payform{
    display:inline-block;
}
#wrapper{
    background-image: url('ba.jpg')
}
header{
    margin:0px;
    padding:0px;
}
#footer{
    margin-top:-20px;
    padding:0px;
}
.row{
    background-color:white;
    border-radius:5px;
    opacity:.6
}